<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cauly.nativead"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <!-- Cauly : 광고 노출을 위한 필수 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Cauly : 광고 노출을 위한 선택적 권한 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cauly.nativead.NativeListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@style/Theme.NoBackground" >
        </activity>
        <activity
            android:name="com.cauly.nativead.NativeViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@style/Theme.NoBackground" >
        </activity>
        <activity
            android:name="com.cauly.nativead.NativeCardActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@style/Theme.NoBackground" >
        </activity>
        <activity
            android:name="com.cauly.nativead.EntryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@style/Theme.NoBackground" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>